<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/inc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
   {{>details nav=resal}}

<main>
    {{>imp data=resal}}
    <div class="rt">
        <div><span id="sp3">Total-</span><span id="sp"></span></div>
        <div><span id="sp1"></span><i class="fa-solid fa-percent "></i></div>
    </div>
     <div>
       <center id="k">-Total Marks in Particular subject must be =>35, to pass the subject.</center>
       <center id="k">-0 in a Column Means Absent.</center>
    </div>

</main>
   
    
</body>
<script src="js/in.js"></script>
</html>
