
    <header>
        <div class="hd">
            <h1 id="not">Result</h1><span> </span><span id="cap"><i class="fa-solid fa-graduation-cap fa-2x"></i></span>
        </div>
        <div class="lo">
         <div><i class="fas fa-user-graduate " aria-hidden="true"></i></div> <div><span id="un">{{nav.usn}}</span></div>
        </div>
    </header>