<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/inc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="hd">
            <h1 id="not">Result</h1><span> </span><span id="cap"><i class="fa-solid fa-graduation-cap fa-2x"></i></span>
        </div>
         <div class="logicon ">
         <a href="/delt"><i class="fa-solid fa-trash fa-2x" style="color:black;"></i></a> 
        </div> 
       
    </div>
    </header>
    <main>
        <div class="rest">
             <form action="/result" method="post" autocomplete="off">
             <div class="bb">
                <label>Details</label>
              <div class="fl"><input type="text" placeholder=" Student Name" name="nm" id="in"><input type="text" placeholder="usn" name="usn"id="in"></div> 
            </div>
          
             
            <div class="bb">
                <label>18cs51</label>
             <div class="fl"><input type="number" placeholder="External" name="e1"id="in"><input type="number" placeholder="Internal" name="i1"id="in"></div>  
            </div>
            <div class="bb">
                <label>18cs52</label>
              <div class="fl"><input type="number" placeholder="External" name="e2"id="in"><input type="number" placeholder="Internal" name="i2"id="in"></div> 
            </div>
            <div class="bb">
                <label>18cs53</label>
             <div class="fl"><input type="number" placeholder="External" name="e3" id="in"><input type="number" placeholder="Internal" name="i3" id="in"></div>  
            </div>
            <div class="bb">
                <label>18cs54</label>
              <div class="fl"> <input type="number" placeholder="External" name="e4" id="in"><input type="number" placeholder="Internal" name="i4" id="in"></div> 
            </div>
            <div class="bb">
                <label>18cs55</label>
              <div class="fl"> <input type="number" placeholder="External" name="e5" id="in"><input type="number" placeholder="Internal" name="i5" id="in"></div> 
            </div>
            <div class="bb">
                <label>18cs56</label>
              <div class="fl"> <input type="number" placeholder="External" name="e6" id="in"><input type="number" placeholder="Internal" name="i6" id="in"></div> 
            </div>
            <div class="bb">
                <label>18csl57</label>
              <div class="fl"> <input type="number" placeholder="External" name="e7" id="in"><input type="number" placeholder="Internal" name="i7" id="in"></div> 
            </div>
             <div class="bb">
                <label>18csl58</label>
              <div class="fl"> <input type="number" placeholder="External" name="e8" id="in"><input type="number" placeholder="Internal" name="i8" id="in"></div> 
            </div>
            <div class="bb">
                <label>18civ59</label>
              <div class="fl"> <input type="number" placeholder="External" name="e9" id="in"><input type="number" placeholder="Internal" name="i9"id="in"></div> 
            </div>
           <div >
              <center> <input type="submit" value="Create Result" id="btn" ></center>
            </div>
            
         </form>
        </div>
        
    </main>
    <section id="del">
   
    </section>
</body>
</html>